.active-item {
    animation: wiggle 2s infinite;
    border: 0.2rem solid #127fbf;
}

@keyframes wiggle {
    0% {
        transform: rotate(0);
    }
    10% {
        transform: rotate(0.4deg);
    }
    20% {
        transform: rotate(-0.4deg);
    }
    25% {
        transform: rotate(0.4deg);
    }
    30% {
        transform: rotate(-0.4deg);
    }
    35% {
        transform: rotate(0.4deg);
    }
    40% {
        transform: rotate(-0.4deg);
    }
    50% {
        transform: rotate(0.4deg);
    }
    60% {
        transform: rotate(-0.2deg);
    }
    70% {
        transform: rotate(0.2deg);
    }
    80% {
        transform: rotate(-0.2deg);
    }
    90% {
        transform: rotate(0.2deg);
    }
    100% {
        transform: rotate(0);
    }
}

/* @keyframes wiggle {
    0% {
        transform: rotate(-0.2deg);
    }
    10% {
        transform: rotate(0.4deg);
    }
    20% {
        transform: rotate(-0.4deg);
    }
    25% {
        transform: rotate(0.4deg);
    }
    30% {
        transform: rotate(-0.4deg);
    }
    35% {
        transform: rotate(0.4deg);
    }
    40% {
        transform: rotate(-0.4deg);
    }
    50% {
        transform: rotate(0.4deg);
    }
    60% {
        transform: rotate(-0.2deg);
    }
    70% {
        transform: rotate(0.2deg);
    }
    80% {
        transform: rotate(-0.2deg);
    }
    90% {
        transform: rotate(0.2deg);
    }
    100% {
        transform: rotate(-0.2deg);
    }
} */
