.slider {
    -webkit-appearance: none;
    height: 5px;
    outline: none;
    overflow: visible;
    background: #40c3f7;
    border-radius: 4px;
}

:root {
    --thumb-color: rgb(37, 99, 235);
}

.slider::-webkit-slider-runnable-track {
    height: 20px;
    transition: 200ms;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(37, 99, 235);
    transition: 200ms;
}

.slider-active {
    -webkit-appearance: none;
    height: 5px;
    outline: none;
    overflow: visible;
    background: #40c3f7;
    border-radius: 4px;
}

.slider-active::-webkit-slider-runnable-track {
    height: 30px;
    transition: 200ms;
}

.slider-active::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: width 200ms, height 200ms, background 400ms;
    background: var(--thumb-color);
}
