:root {
    --frame-color: rgb(1, 11, 25);
    --screen-color: rgb(51, 65, 85);
}

/* 
PHONE STYLING 
 */

.phone {
    width: 90%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 50%;
    background: var(--screen-color);
    border-style: solid;
    border-color: var(--frame-color);
    border-width: 10px 5px;
    border-radius: 7%;
    transform: translate(-60%);
    overflow: hidden;
}

.phone::before {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 80%;
    height: 80%;
    background: rgb(161, 171, 185);
    border-radius: 4px;
    transform: translate(-50%);
}

.phone::after {
    content: '';
    position: absolute;
    top: -0.8rem;
    left: 50%;
    width: 30px;
    height: 20px;
    transform: translate(-50%);
    border-radius: 20px;
    background: var(--frame-color);
}

/* 
DISPLAY STYLING 
 */

.display {
    width: 100%;
    height: 80%;
    max-width: 300px;
    max-height: 240px;
    position: absolute;
    top: 0;
    left: 50%;
    background: var(--screen-color);
    border-style: solid;
    border-color: var(--frame-color);
    border-width: 10px 5px;
    border-radius: 4px;
    transform: translate(-80%) rotateY(40deg) skewY(-20deg);
    overflow: hidden;
}

.display::before {
    content: '';
    width: 140%;
    height: 100%;
    background: rgba(145, 145, 145, 0.08);
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateZ(-30deg) translate(-2rem, -10rem);
}

.display::after {
    content: '';
    width: 140%;
    height: 2%;
    background: rgba(145, 145, 145, 0.08);
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateZ(-30deg) translate(-4rem, 1.2rem);
}
/* .display-tap {
    transform: translate(-80%) rotateY(40deg) skewY(-20deg) scale(0.85);
}

.display-tap::after {
    transform: rotateZ(-30deg) translate(-4rem, 2.7rem);
} */

/* 
ANIMATION 
 */

.hand {
    max-width: 140px;
    max-height: 180px;
}

#mobile-swipe {
    animation: swipeAnimation 8s infinite;
}

#mobile-tap {
    animation: tapMobileAnimation 8s infinite;
}

#gesture-swipe {
    transform: scaleX(-1) rotateZ(90deg);
    animation: swipeAnimation 8s infinite;
}

#gesture-tap {
    transform: scaleX(-1) rotateZ(90deg);
    animation: tapGestureAnimation 8s infinite;
}

.gesture-cursor {
    position: relative;
    top: 50%;
    left: 50%;
    border-radius: 50%;
}
.navigation-cursor {
    animation: swipeCursorAnimation 8s infinite;
}
.tap-cursor {
    box-shadow: inset 0 0 0 0 rgb(59, 130, 246);
    animation: tapCursorAnimation 8s infinite;
}

/* matrix( scaleX(), skewY(), skewX(), scaleY(), translateX(), translateY() ) */

@keyframes swipeAnimation {
    0% {
        transform: matrix(-1, 0, 0, 1, 0, 0) rotateZ(90deg);
    }
    5% {
        transform: matrix(-1, 0, 0, 1, -10, -16) rotateZ(90deg);
    }
    12.5% {
        transform: matrix(-0.8, -0.1, 0, 0.9, 0, -46) rotateZ(90deg);
    }
    20% {
        transform: matrix(-1, 0, 0, 1, -10, -16) rotateZ(90deg);
    }
    25% {
        transform: matrix(-1, 0, 0, 1, -10, -48) rotateZ(80deg);
    }
    35% {
        transform: matrix(-1, 0, 0, 1, -10, 16) rotateZ(95deg);
    }
    45% {
        transform: matrix(-1, 0, 0, 1, 0, 0) rotateZ(90deg);
    }
}

@keyframes swipeCursorAnimation {
    0% {
        transform: translate(0, 0);
    }
    5% {
        transform: translate(-0.6rem, -1rem);
    }
    12.5% {
        transform: translate(2rem, -1rem);
    }
    20% {
        transform: translate(0, -1rem);
    }
    25% {
        transform: translate(0, -3rem);
    }
    35% {
        transform: translate(0, 1rem);
    }
    45% {
        transform: translate(0, 0);
    }
}

@keyframes tapMobileAnimation {
    44% {
        transform: translateY(0) scale(1);
    }
    50% {
        transform: translateY(-2rem) scale(0.9) rotateX(25deg);
    }
    60% {
        transform: translateY(0) scale(1) rotateX(0);
    }
}

@keyframes tapGestureAnimation {
    44% {
        transform: scaleX(-1) rotateZ(90deg) translateY(0);
    }
    50% {
        transform: scaleX(-1) rotateZ(90deg) translateY(-2rem);
    }
    60% {
        transform: scaleX(-1) rotateZ(90deg) translateY(0);
    }
}

@keyframes tapCursorAnimation {
    44% {
        box-shadow: inset 0 0 0 0 rgb(59, 130, 246);
    }
    48% {
        transform: scale(1);
        box-shadow: inset 0 0 0 20px rgb(59, 130, 246);
        border-color: rgb(59, 130, 246);
    }
    50% {
        transform: scale(0.9);
        box-shadow: inset 0 0 0 20px rgb(88, 159, 255);
        border-color: rgb(88, 159, 255);
    }
    52% {
        transform: scale(1);
        box-shadow: inset 0 0 0 20px rgb(59, 130, 246);
        border-color: rgb(59, 130, 246);
    }
    60% {
        transform: scale(1);
        box-shadow: inset 0 0 0 0 rgb(59, 130, 246);
    }
}
